<h2>audio基本用法</h2>
@{
    var audioUrl = "/Areas/Chapter05/common/dj.mp3";
}
<h4>用法1</h4>
<audio id="audio1" src="@audioUrl" controls="controls"></audio>
<h4>用法2</h4>
<audio id="audio2" src="@audioUrl"
       autoplay="autoplay" controls="controls"></audio>
