@model  IQueryable<Mvc5Examples.StudentsService.Student>
<h4 class="bg-primary">获取所有学生信息</h4>
<h5> odata/Students（http://localhost:3827/odata/$metadata#Students）</h5>
<ul>
    @foreach (var v in Model)
    {
        <li>@string.Format("{0},{1},{2}", v.ID, v.Name, v.Grade)</li>
    }
</ul>
