@model  IQueryable<Mvc5Examples.StudentsService.Student>
<h4 class="bg-primary">获取指定数量的学生信息（分页）</h4>
<ul>
    @foreach (var v in Model)
    {
        <li>@string.Format("{0},{1},{2}", v.ID, v.Name, v.Grade)</li>
    }
</ul>
