@{
    ViewBag.Title = "grid2";
}
<div class="panel panel-default text-center">
    <div class="panel-heading">12列布局（各占1格）</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
        </div>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">移动设备xs纵向堆叠（第1列100%宽度，第2列50%宽度），桌面设备md（按8格、4格）横向排列</div>
    <div class="panel-body row">
        <div class="col-xs-12 col-md-8 btn-primary">col-xs-12、col-md-8</div>
        <div class="col-xs-6 col-md-4 btn-success">col-xs-6、col-md-4</div>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">移动设备xs纵向堆叠(每列都是50%宽度)，桌面设备md横向排列(每列33.3%宽度)</div>
    <div class="panel-body row">
        <div class="col-xs-6 col-md-4 btn-info">col-xs-6、col-md-4</div>
        <div class="col-xs-6 col-md-4 btn-danger">col-xs-6、col-md-4</div>
        <div class="col-xs-6 col-md-4 btn-info">col-xs-6、col-md-4</div>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">移动设备xs纵向堆叠（宽度50%），桌面设备未指定（将自动横向排列，每列宽度50%）</div>
    <div class="panel-body row">
        <div class="col-xs-6 btn-success">col-xs-6</div>
        <div class="col-xs-6 btn-info">col-xs-6</div>
    </div>
</div>
