@{
    ViewBag.Title = "grid";
}

<div class="panel panel-success text-center">
    <div class="panel-heading panel-title">栅格布局示例</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-center">金陵酒肆留别</h4>
                <h5 class="text-center">李白</h5>
                风吹柳花满店香，<br />
                吴姬压酒唤客尝。<br />
                金陵子弟来相送，<br />
                欲行不行各尽觞。<br />
                请君试问东流水，<br />
                别意与之谁短长？<br />
            </div>
            <div class="col-md-3">
                <h4 class="text-center">所思</h4>
                <h5 class="text-center">杜甫</h5>
                苦忆荆州醉司马，<br />
                谪官樽俎定常开。<br />
                九江日落醒何处，<br />
                一柱观头眠几回。<br />
                可怜怀抱向人尽，<br />
                欲问平安无使来。<br />
                故凭锦水将双泪，<br />
                好过瞿塘滟滪堆。<br />
            </div>
            <div class="col-md-6">
                <h4 class="text-center">一剪梅（李清照）</h4>
                红藕香残玉簟秋。轻解罗裳，独上兰舟。<br />
                云中谁寄锦书来？雁字回时，月满西楼。<br />
                花自飘零水自流。一种相思，两处闲愁。<br />
                此情无计可消除，才下眉头，却上心头。<br />
            </div>
        </div>
    </div>
</div>
