@{
    ViewBag.Title = "prefixbtn";
}
<div class="row">
    <div class="col-md-3">
        <h4 class="panel panel-success text-center text-danger">btn-前缀（常规大小）</h4>
        <p class="btn-default">（btn-default）</p>
        <p class="btn-primary">（btn-primary）</p>
        <p class="btn-success">（btn-success）</p>
        <p class="btn-info">（btn-info）</p>
        <p class="btn-warning">（btn-warning）</p>
        <p class="btn-danger">（btn-danger）</p>
        <p class="btn-link">（btn-link）</p>
    </div>
    <div class="col-md-4">
        <h4 class="panel panel-success text-center text-danger">btn-前缀（lg）</h4>
        <p class="btn-lg btn-default">（btn-lg btn-default）</p>
        <p class="btn-lg btn-primary">（btn-lg btn-primary）</p>
        <p class="btn-lg btn-success">（btn-lg btn-success）</p>
        <p class="btn-lg btn-info">（btn-lg btn-info）</p>
        <p class="btn-lg btn-warning">（btn-lg btn-warning）</p>
        <p class="btn-lg btn-danger">（btn-lg btn-danger）</p>
        <p class="btn-lg btn-link">（btn-lg btn-link）</p>
    </div>
    <div class="col-md-3">
        <h4 class="panel panel-success text-center text-danger">btn-前缀（sm）</h4>
        <p class="btn-sm btn-default">（btn-sm btn-default）</p>
        <p class="btn-sm btn-primary">（btn-sm btn-primary）</p>
        <p class="btn-sm btn-success">（btn-sm btn-success）</p>
        <p class="btn-sm btn-info">（btn-sm btn-info）</p>
        <p class="btn-sm btn-warning">（btn-sm btn-warning）</p>
        <p class="btn-sm btn-danger">（btn-sm btn-danger）</p>
        <p class="btn-sm btn-link">（btn-sm btn-link）</p>
    </div>
    <div class="col-md-2">
        <h4 class="panel panel-success text-center text-danger">btn-前缀（xs）</h4>
        <p class="btn-xs btn-default">（btn-xs btn-default）</p>
        <p class="btn-xs btn-primary">（btn-xs btn-primary）</p>
        <p class="btn-xs btn-success">（btn-xs btn-success）</p>
        <p class="btn- btn-info">（btn-xs btn-info）</p>
        <p class="btn-xs btn-warning">（btn-xs btn-warning）</p>
        <p class="btn-xs btn-danger">（btn-xs btn-danger）</p>
        <p class="btn-xs btn-link">（btn-xs btn-link）</p>
    </div>
</div>
