<h4 class="bg-info text-center text-danger">bg-前缀</h4>
<p class="h3 bg-primary">bg-primary语义的前景和背景</p>
<p class="h3 bg-success">bg-success语义的前景和背景</p>
<p class="h3 bg-info">bg-info语义的前景和背景</p>
<p class="h3 bg-warning">bg-warning语义的前景和背景</p>
<p class="h3 bg-danger">bg-danger语义的前景和背景</p>
