@{
    Layout = "~/Areas/Chapter10/Views/Shared/_ch10Layout3D.cshtml";
}
<div id="container"></div>
<div id="info">
    <p>3D设计基本用法2：让场景动起来</p>
    <p>
        <button id="btn1" class="btn btn-success">[显示/隐藏]网格</button>
    </p>
</div>
<script>
    var container = document.getElementById('container');
    var width = window.innerWidth;
    var height = window.innerHeight;

    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(50, width / height, 1, 1000);
    var renderer = new THREE.WebGLRenderer({ antialias: true });

    var mesh1 = new THREE.Mesh(
        new THREE.SphereGeometry(5, 16, 8),
        new THREE.MeshBasicMaterial({ color: 0x0000ff, wireframe: false }));
    var mesh2 = new THREE.Mesh(
        new THREE.BoxGeometry(16, 16, 16),
        new THREE.MeshBasicMaterial({ color: 0x00ff00, wireframe: false }));
    var light = new THREE.DirectionalLight(0xffffff);

    function init() {
        //将相机、灯光、对象添加到场景中
        camera.position.z = 250;
        scene.add(camera);

        light.position.set(0, 0, 1);
        scene.add(light);

        mesh1.position.x = -100;
        mesh1.scale.x = mesh1.scale.y = mesh1.scale.z = 10;
        scene.add(mesh1);

        mesh2.position.x = 100;
        mesh2.scale.x = mesh2.scale.y = mesh2.scale.z = 4;
        scene.add(mesh2);

        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(width, height);
        container.appendChild(renderer.domElement);
        window.addEventListener('resize', onWindowResize, false);
    }

    function animate() {
        requestAnimationFrame(animate);
        render();
    }

    function render() {
        var timer = Date.now() * 0.0005;
        camera.position.x = Math.cos(timer) * 300;
        camera.position.y = Math.sin(timer) * 200;
        camera.lookAt(scene.position);

        mesh1.rotation.x += 0.01;
        mesh1.rotation.y += 0.01;
        mesh2.rotation.x += 0.01;
        mesh2.rotation.y += 0.01;

        renderer.render(scene, camera);
    }

    function onWindowResize() {
        width = windows.innerWidth;
        height = window.innerHeight;
        camera.aspect = width / height;
        camera.updateProjectionMatrix();
        renderer.setSize(width, height);
    }

    $("#btn1").click(function () {
        mesh1.material.wireframe = !mesh1.material.wireframe;
        mesh2.material.wireframe = !mesh2.material.wireframe;
    });
</script>
