<style>
    .mydiv {
         text-align: center;
         color:white; background-color: #0094ff;
         border: solid 1px #c3c3c3;
         width:100%;  height:120px;
    }
</style>
<h3>淡入淡出和透明度渐变的基本用法</h3>
<p class="text-center">
    <button id="btn1" class="btn btn-primary">淡出/淡入</button>
    <button id="btn2" class="btn btn-primary">透明度渐变(到0.2)</button>
    <button id="btn3" class="btn btn-primary">透明度渐变(到1.0)</button>
</p>
<div id="div1" class="mydiv">
    <p style="margin-top:50px">今天天气很好，晴空万里，适合户外活动。</p>
</div>
<script>
    var t = $("#div1");
    $("#btn1").click(function () { t.fadeOut(3000).fadeIn(3000);; });
    $("#btn2").click(function () { t.fadeTo(2000, 0.20); });
    $("#btn3").click(function () { t.fadeTo(2000, 1.00); });
</script>