<style>
    #mydiv1 { width: 150px; height: 100px; transition: 2s; }
    #mydiv1:hover {width: 200px; height: 200px; transform: rotate(360deg); }
</style>
<div id="mydiv1" class="btn-success center-block">鼠标悬停到此处，将自动放大1倍并旋转360度，持续时间为2秒。</div>