<h6>控制面板头部和边框的颜色：panel-default、panel-primary、panel-success、panel-warning、panel-danger</h6>
<div class="panel panel-group panel-primary">
    <div class="panel-heading">面板嵌套基本用法</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading">子面板1</div>
            <div class="panel-body">面板主体</div>
            <div class="panel-footer">面板尾部</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">子面板2</div>
            <div class="panel-body">面板主体</div>
            <div class="panel-footer">面板尾部</div>
        </div>
    </div>
    <div class="panel-footer">asdf</div>
</div>
