<h4>Bootstrap进度条进本用法</h4>
<div class="row" style="border:1px solid grey; margin:15px">
    <div class="col-md-3">
        <h5>用法1：不带进度提示</h5>
        <div class="progress">
            <div class="progress-bar" style="width: 60%;">
                <span class="sr-only">已完成60%</span>
            </div>
        </div>
        <h5>用法2：带进度提示</h5>
        <div class="progress">
            <div class="progress-bar" style="width: 60%;">60%</div>
        </div>
    </div>
    <div class="col-md-4">
        <h5>用法3：进度不同颜色变化也不同</h5>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 40%">40%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 20%">20%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 60%">60%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" style="width: 80%">80%</div>
        </div>
    </div>
    <div class="col-md-5">
        <h5>用法4：条纹效果、带动画的条纹效果</h5>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 40%">40%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 20%">30%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 60%">60%</div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width: 80%">80%</div>
        </div>
    </div>
</div>
<h5>用法5：组合堆叠效果</h5>
<div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 35%">35%</div>
    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 20%">20%</div>
    <div class="progress-bar progress-bar-danger" style="width: 40%">40%</div>
</div>
