@{
    ViewBag.Title = "grid1";
}
<div class="panel panel-default text-center">
    <div class="panel-heading">12列布局（各占1格）</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
            <div class="col-md-1 btn-primary">col-md-1</div>
            <div class="col-md-1 btn-info">col-md-1</div>
        </div>
    </div>
</div>
<div class="panel panel-default text-center">
    <div class="panel-heading">2列布局（第1列8格，第2列4格）</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 btn-success">col-md-8</div>
            <div class="col-md-4 btn-danger">col-md-4</div>
        </div>
    </div>
</div>
<div class="panel panel-default text-center">
    <div class="panel-heading">3列布局（各占4格）</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 btn-warning">col-md-4</div>
            <div class="col-md-4 btn-info">col-md-4</div>
            <div class="col-md-4 btn-warning">col-md-4</div>
        </div>
    </div>
</div>
<div class="panel panel-default text-center">
    <div class="panel-heading">2列布局（各占6格）</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 btn-success">col-md-6</div>
            <div class="col-md-6 btn-danger">col-md-6</div>
        </div>
    </div>
</div>
