
@{
    ViewBag.Title = "grid4";
}
<h4 class="btn-primary text-center">当小于12格时，可利用列偏移调整列的横向偏移位置</h4>
<div class="row">
    <div class="panel panel-primary col-md-6">col-md-6</div>
    <div class="panel panel-primary col-md-2">col-md-2</div>
</div>
<div class="row">
    <div class="panel panel-primary col-md-6 col-md-offset-2">col-md-6、col-md-offset-2</div>
    <div class="panel panel-primary col-md-2">col-md-2</div>
</div>
<div class="row">
    <div class="panel panel-primary col-md-6 col-md-offset-4">col-md-6、col-md-offset-4</div>
    <div class="panel panel-primary col-md-2">col-md-2</div>
</div>

