@{
    ViewBag.Title = "icon2";
}
<h2>图标基本用法</h2>
<button type="button" class="btn btn-primary" data-toggle="tooltip" title="按钮1">
    <span class="glyphicon glyphicon-star"></span>
</button>

<button type="button" class="btn btn-success" data-toggle="tooltip" title="按钮2">
    <span class="glyphicon glyphicon-star"></span>
</button>

<button type="button" class="btn btn-danger" data-toggle="tooltip" title="按钮3">
    <span class="glyphicon glyphicon-star"></span>
</button>

<button type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-star"></span>
    <span>按钮4</span>
</button>

<button type="button" class="btn btn-success">
    <span class="h4"><span class="glyphicon glyphicon-star"></span></span>
    <br />按钮5
</button>

<button type="button" class="btn btn-info">
    <span class="h3"><span class="glyphicon glyphicon-star"></span></span>
    <br />按钮6
</button>

<button type="button" class="btn btn-warning">
    <span class="h2"><span class="glyphicon glyphicon-star"></span></span>
    <br />按钮7
</button>

<button type="button" class="btn btn-danger">
    <span class="h1"><span class="glyphicon glyphicon-star"></span></span>
    <br />按钮8
</button>

<button type="button" class="btn btn-warning">
    <span class="h4"><span class="glyphicon glyphicon-star"></span></span>
    <span class="h4">按钮9</span>
</button>

<button type="button" class="btn btn-default">
    <span class="h5"><span class="glyphicon glyphicon-star"></span></span>
    <span class="h5">按钮10</span>
</button>

<button type="button" class="btn btn-primary">
    <span class="h6"><span class="glyphicon glyphicon-star"></span></span>
    <span class="h6">按钮11</span>
</button>
