<h4>Bootstrap复选按钮基本用法（btnCheckBox1）（将一组复选框组合为按钮组使用，并添加 data-toggle="buttons" 属性，可以为它们赋予复选框样式）</h4>
<h6>btnDemo2(添加 data-toggle="button" 属性可以激活单个按钮的开关状态)</h6>
<button type="button" class="btn btn-success" data-toggle="button">Single toggle</button>
<hr />
<h6>对于预先选定的值（也就是复选框），需要其对应的 label 标签添加 .active 类</h6>
<div class="btn-group" aria-controls="checkbox">
  <label class="btn btn-primary"><input type="checkbox" checked="checked">选项1(预选中)</label>
  <label class="btn btn-primary"><input type="checkbox">选项2</label>
  <label class="btn btn-primary"><input type="checkbox">选项3</label>
</div>
