<h4>jQueryUI提供的tabs基本用法</h4>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">选项设置1</a></li>
        <li><a href="#tabs-2">选项设置2</a></li>
        <li><a href="#tabs-3">选项设置3</a></li>
    </ul>
    <div id="tabs-1">
        <p>此处设计选项设置1要设置的内容。</p>
    </div>
    <div id="tabs-2">
        <p>此处设计选项设置2要设置的内容。</p>
    </div>
    <div id="tabs-3">
        <p>此处设计选项设置3要设置的内容。</p>
    </div>
</div>
<script>
    $.ui.tabs(null, "#tabs");
</script>

