
@{
    ViewBag.Title = "MainIndex";
}

<h2>@ViewBag.Message<small>-- 用C#和MVC5编写ASP.NET Web 应用程序</small></h2>
<div class="progress">
    <div class="progress-bar progress-bar_info progress-bar-striped active  " style="width:100%"></div>
</div>
<div class="row ">
    <div class="col-md-4">
        <h3>第一部分（1~8章）<small>基本技术</small></h3>
        <p>介绍ASP.NET MVC 编程基础、HTML5、CSS3、Bootstrap、jQuery以及数据库应用等基本用法。</p>
    </div>
    <div class="col-md-4">
        <h3>第二部分（9~10章）<small>高级技术</small></h3>
        <p>介绍ASP.NET MVC 编程基础、HTML5、CSS3、Bootstrap、jQuery以及数据库应用等基本用法。</p>
    </div>
    <div class="col-md-4">
        <h3>第三部分（9~10章）<small>高级技术</small></h3>
        <p>介绍ASP.NET MVC 编程基础、HTML5、CSS3、Bootstrap、jQuery以及数据库应用等基本用法。</p>
    </div>
    </div>

