@model Mvc5My.Areas.Chapter03.Models.MyStudentModel
@{
    var ajaxOptions = new AjaxOptions { UpdateTargetId = "bodyContent" };
}
@using (Ajax.BeginForm(ajaxOptions))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">学号（*）</label>
            <div class="col-md-6">
                <input class="form-control" name="XueHao" type="text" value="@Model.XueHao" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">姓名（*）</label>
            <div class="col-md-6">
                <input class="form-control" name="XingMing" type="text" value="@Model.XingMing" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">年龄（*）</label>
            <div class="col-md-6">
                <input name="NianLing" type="number" class="form-control" value="@Model.NianLing" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-md-offset-4">
                <button class="btn btn-primary" id="btn1" type="submit">提交</button>
            </div>
        </div>
    </div>
}
<script>
    $("#btn1").click(function () {
        $("form").validate({
            rules: {
                XueHao: { required: true, rangelength: [3, 3] },
                XingMing: {
                    required: true,
                    minlength: 3,
                    maxlength: 16
                },
                NianLing: { required: true, min: 10, digits: true }
            },
            messages: {
                XueHao: {
                    required: "学号不能为空",
                    rangelength: "学号必须为3个字符"
                },
                XingMing: {
                    required: "姓名不能为空",
                    minlength: "姓名至少需要2个字符",
                },
                NianLing: {
                    required: "年龄不能为空",
                    min: "年龄不能小于10",
                    digits: "年龄必须是整数"
                }
            }
        });
    });
</script>
