<h2>Server属性基本用法</h2>
<div style="line-height:30px;">
    原始字符串：@ViewBag.Str<br />
    Html编码后的字符串：@ViewBag.HtmlEncodeStr<br />
    Html解码后的字符串：@ViewBag.HtmlDecodeStr<br />
    Url编码后的字符串：@ViewBag.UrlEncodeStr<br />
    Url解码后的字符串：@ViewBag.UrlDecodeStr<br />
    虚拟路径1转换后的结果：@ViewBag.MapPath1<br />
    虚拟路径2转换后的结果：@ViewBag.MapPath2<br />
</div>
