<h4>超链接基本用法</h4>
@Html.ActionLink("用法1（链接到attr.cshtml）", "Index", "ch05Demos", new { id = "attr" }, null)<br />
@Html.ActionLink("用法2（在新选项卡中弹出attr.cshtml）", "Index", "ch05Demos", new { id = "attr" }, new { @target = "_blank" })<br />
@Html.ActionLink("用法3（链接到另一个区域内的某个网页）", "Index", "ch03Demos", new { id = "LayoutDemo", area = "Chapter03" }, null)<br />

