<h4>按钮(button标记)基本用法1：组合色、大小、图标、拉伸、禁用</h4>
<hr />
<h5>（1）7种按钮组合色（默认大小）</h5>
<p>
    <button class="btn btn-default">default</button>
    <button class="btn btn-primary">primary</button>
    <button class="btn btn-success">success</button>
    <button class="btn btn-info">info</button>
    <button class="btn btn-warning">warning</button>
    <button class="btn btn-danger">danger</button>
    <button class="btn btn-link">link</button>
</p>
<h5>（2）指定按钮大小</h5>
<p>
    <button class="btn btn-primary btn-lg">大（lg）</button>
    <button class="btn btn-primary btn-sm">中（sm）</button>
    <button class="btn btn-primary btn-xs">小（xs）</button>
</p>
<h5>（3）图标按钮</h5>
<div>
    <button class="btn btn-primary" data-toggle="tooltip" title="按钮1：眼睛" value="按钮1">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>

    <button class="btn btn-success" data-toggle="tooltip" title="按钮2：地球" value="按钮2">
        <span class="glyphicon glyphicon-globe"></span>
    </button>

    <button class="btn btn-success" value="按钮3">
        <span class="glyphicon glyphicon-heart-empty"></span>
        <span>按钮3</span>
    </button>

    <button class="btn btn-success" value="按钮4">
        <span class="glyphicon glyphicon-plane"></span>
        <span>按钮4</span>
    </button>

    <button class="btn btn-success" value="按钮5">
        <span class="h3"><span class="glyphicon glyphicon-plane"></span></span>
        <br />
        <span>按钮5</span>
    </button>
</div>
<h5>（4）自动拉伸：</h5>
<p>
    <button class="btn btn-primary btn-block">拉伸后的按钮</button>
</p>
<h5>（5）激活状态和禁用状态</h5>
<p>
    <button class="btn btn-primary active">激活状态</button>
    <button class="btn btn-primary" disabled="disabled">禁用状态</button>
</p>
