@{
    ViewBag.Title = "dl";
}

<h3>dl基本用法</h3>
<p class="bg-primary">（1）基本用法1--每项及其描述纵向堆叠</p>
<dl>
    <dt>子项1</dt>
    <dd>子项1的描述信息。另外，当每一项的描述信息太长时（超出可显示的最大宽度），这种排列方式还会自动换行；当窗口变得很窄时，它还会自动变为默认的纵向堆叠方式。</dd>
    <dt>子项2</dt>
    <dd>子项2的描述信息。</dd>
</dl>
<p class="bg-primary">（2）基本用法2--每项及其描述水平排列（dl-horizontal）</p>
<dl class="dl-horizontal">
    <dt>子项1</dt>
    <dd>子项1的描述信息。另外，当每一项的描述信息太长时（超出可显示的最大宽度），这种水平排列方式还会自动换行；当窗口变得很窄时，它还会自动变为默认的纵向堆叠方式。</dd>
    <dt>子项2</dt>
    <dd>子项2的描述信息。</dd>
</dl>
