<style>
    p { border:1px solid blue; }
</style>
@* h2为父元素（100%大小），small为父元素大小的85%，lead表示强调的含义 *@
<h2>李白<small>唐代著名诗人</small></h2>
<p>唐代有很多著名诗人，<span class="lead">李白</span>是其中的一位。</p>
<p class="lead text-primary text-center">MVC编程（蓝色、居中）</p>
<p class="text-left">MVC编程（左对齐：text-left）</p>
<p class="text-right">MVC编程（右对齐：text-right）</p>
<p class="text-center">MVC编程（居中：text-center）</p>
<p>说明：<span class="lead">span标记</span>用于在行内定义一个区域。</p>
