<style>
    p{font-size:16px;}
</style>
<h2>排版标记示例<small>（hr、p、u、b、i、sup、sub）</small></h2>
<hr style="height:5px; background-color:blue;" />
<p>你<b>终于</b>明白<i><u>不吃饭</u></i>和<i><u>不想吃饭</u></i>不是一回事了。</p>
<p>这是 <i><b>斜体加粗</b></i> 的效果</p>
<p>sup标记： 2<sup>3</sup> × 3 = 24;</p>
<p>sub标记：鱼儿离不开水（H<sub>2</sub>O）。</p>

