<h2>video基本用法</h2>
@{
    var videoUrl = "/Areas/Chapter05/common/happyfit.mp4";
}
<h4>用法1</h4>
<video id="video2" src="@videoUrl"
       loop="loop" autoplay="autoplay" controls="controls"></video>
<h4>用法2</h4>
<video id="video1" src="@videoUrl" controls="controls"></video>
