<style>
    #loading3D { position: absolute; top: 160px; width: 100%;
                 color:red; font-size: 36px; text-align: center; }
</style>
<div id="loading3D">正在加载3D场景......</div>
<iframe id="viewer"
        src="@Url.Action("Rend3dScene", "ThreejsExamples", new { src = ViewBag.src })"
        style="width:100%; min-height:460px; max-height:460px; border:1px solid red"></iframe>
<script>
    $("#viewer").height(document.body.scrollHeight);
    $("#viewer").load(function () { $("#loading3D").hide(); });
</script>

